nextflow.enable.dsl=2

params {

    // general parameters
    help = false
    singularity_store = "~/.singularity/cache/library"

    // PULL_CONTAINERS
    slurm_config = "${projectDir}/conf/slurm.config"
    pull_containers_file = "${projectDir}/data/python_scripts/pull_containers.py"

    // CHECK_FILES_PIPE
    check_files_script = "${projectDir}/data/python_scripts/check_files.py"

    // RIBOSEQ_ANNOTATE_PIPE
    // general input
    gtf = "${projectDir}/data/Mus_musculus.GRCm38.99.chr.gtf"
    lct_script = "${projectDir}/data/python_scripts/find_longest_coding_transcripts.py"
    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    genome = "${projectDir}/data//Mus_musculus.GRCm38.dna_sm.primary_assembly.fa"
    ctdCDS_script = "${projectDir}/data/python_scripts/create_tab_delimited_CDS_file.py"
    riboseq_annotate_outDir = "${projectDir}/riboseq_annotate_results"

    // INDEX
    // see under "general mapping logic"
    index_threads = 24 // or 16 

    // RIBOSEQ_PROCESS_DATA_PIPE
    // general input
    riboseq_process_data_outDir = "${projectDir}/riboseq_process_data_results"
    riboseq_reads = "${projectDir}/data/riboseq_reads/*.gz"
    oligos = "${projectDir}/data/oligos.txt"
    other_RNAs_sequence = "${projectDir}/data/mm10_rrnas.fa"
    count_oligos_script = "${projectDir}/data/python_scripts/count_oligos.py"
    //other_RNAs_index
    //transcripts_index
    find_overrepresented_sequences_script = "${projectDir}/data/python_scripts/find_overrepresented_sequences.py"
    //transcripts_sequence
    plot_read_lengths_script = "${projectDir}/data/python_scripts/plot_read_lengths.py"
    //transcript_id_gene_id_CDS
    determine_p_site_offsets_script = "${projectDir}/data/python_scripts/determine_p_site_offsets.py"
    count_reads_script = "${projectDir}/data/python_scripts/count_reads.py"
    check_periodicity_script = "${projectDir}/data/python_scripts/check_periodicity.py"
    filter_reads_based_on_read_lengths_and_offsets_script = "${projectDir}/data/python_scripts/filter_reads_based_on_read_lengths_and_offsets.py"

    // COUNT_OLIGOS
    run_count_oligos = false

    // TRIM_FIRST_BASES
    cut = 5
    minimum_length = 20

    // CLIP_READS
    clip_reads_v = "-v"
    clip_reads_n = "-n"
    clip_reads_l = 20
    clip_reads_c = "-c"
    clip_reads_adapter = 'AAAAAAAAAA'
    clip_reads_z = "-z"

    // TRIM_READS
    trim_reads_v = "-v"
    trim_reads_l = 20
    trim_reads_t = 20
    trim_reads_Q = 33
    trim_reads_z = "-z"

    // FILTER_READS
    filter_reads_v = "-v"
    filter_reads_q = 20
    filter_reads_p = "90"
    filter_reads_z = "-z"
    filter_reads_Q = 33

    // FASTQ_TO_FASTA
    fq_to_fa_v = "-v"
    fq_to_fa_n = "-n"
    fq_to_fa_r = "-r"

    // general mapping logic
    other_genes_index_mode = "segemehl" // has to match parameter "aligner_other_genes"
    genome_index_mode = "star" // has to match parameter "aligner_genome"
    aligner_other_genes = "segemehl"
    aligner_genome = "star" // or "segemehl"

    // MAP_TO_OTHER_GENES
    map_to_other_genes_silent = "--silent"
    map_to_other_genes_accuracy = "90"
    map_to_other_genes_threads = "25"

    // MAP_TO_TRANSCRIPTS
    map_to_transcripts_silent = "--silent"
    map_to_transcripts_accuracy = "90"
    map_to_transcripts_threads = "8"

    // CHECK_PERIODICITY
    check_peridocitiy_codnum = 100
   
    // RIBOTISH_PIPE
    ribotish_connect_outDir = "${projectDir}/ribotish_results"
    genome_fai = "${projectDir}/data/Mus_musculus.GRCm38.dna_sm.primary_assembly.fa.fai"
    ribotish_quality_th = 0.4
    ribotish_predict_mode = "--longest" // or ""
 
    // PHILOSOPHER_PIPE
    workspace = "${projectDir}/workspace"
    proteomics_reads = "${projectDir}/data/proteomics_reads/*.mzML"
    philosopher_outDir = "${projectDir}/philosopher_results"
    philosopher_db = "${projectDir}/data/small_peptides_all_quad_samples.fasta"
    fragger_mode = "docker"
    change_file_script = "${projectDir}/data/python_scripts/change_file.py"
    skip_proteinprophet = false

}

profiles {

    slurm {
        includeConfig 'conf/slurm.config'
        params.fragger_ram = 80
    }

    docker {
        includeConfig 'conf/docker.config'
        params.fragger_ram = 8
    }

}
