singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}


process {
	
	memory = 125.GB
	cpus = 20
	
	withLabel: philosopher {
		//executor = 'slurm'
		container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/philosopher_4.2.1.sif"
	}

	withLabel: samtools {
        executor = 'slurm'
		container = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library/samtools_1.8.sif"
	}

	withLabel: gffread {
        executor = 'slurm'
        container = 'docker://zavolab/gffread:0.11.7'
    }

}

