singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${params.singularity_store}"
	libraryDir = "${params.singularity_store}"

}

process {

	withLabel: philosopher {
		executor = 'slurm'
		container = 'docker://biocontainers/philosopher:v2.0.0_cv2.0.0'
	}

	withLabel: msfragger {
		executor = 'slurm'
		container = 'docker://noepozzan/msfragger:0.1'
	}

	withLabel: htseq {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq:3.6.5_0.10.0'
	}

	withLabel: segemehl {
		executor = 'slurm'
		container = 'docker://zavolab/segemehl:0.2.0'
	}

	withLabel: cufflinks {
		executor = 'slurm'
		container = 'docker://zavolab/cufflinks:2.2.1'
	}

	withLabel: htseq_biopython {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq_biopython:3.6.5_0.10.0_1.71'
	}

	withLabel: cutadapt {
    	executor = 'slurm'
        container = 'docker://zavolab/cutadapt:1.16'
	}

	withLabel: fastx {
        executor = 'slurm'
    	container = 'docker://zavolab/fastx:0.0.14'
	}

	withLabel: pysam {
    	executor = 'slurm'
        container = 'docker://fgypas/python_pysam:3.6.5_0.15.1'
	}

	withLabel: samtools {
        executor = 'slurm'
		container = 'docker://zavolab/samtools:1.8'
	}

	withLabel: rcrunch_python {
        executor = 'slurm'
		container = 'docker://zavolab/rcrunch_python:1.0'
	}
	
	withLabel: ribotish {
		memory = 200.GB
        cpus = 40
		executor = 'slurm'
		container = 'docker://noepozzan/ribotish:0.1'
	}

	withLabel: star {
		executor = 'slurm'
		container = 'docker://mgibio/star:2.7.0f'
	}

	withLabel: gffread {
		executor = 'slurm'
		container = 'docker://zavolab/gffread:0.11.7'
	}

	withLabel: sorf_to_speptide {
        executor = "slurm"
		container = "docker://noepozzan/sorf_to_speptide:0.1"
	}

	withLabel: ionquant {
		executor = "slurm"
		container = "docker://singjust/ionquant:1.7.17"

	}

}





