singularity {

	enabled = true
	autoMounts = true
	cacheDir = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library"
	libraryDir = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library"
}

env {

	NXF_SINGULARITY_CACHEDIR = "/scicore/home/zavolan/pozzan0000/.singularity/cache/library"
}


process {
	
	memory = 125.GB
	cpus = 20
		
	withLabel: heavy_computation {
		memory = 200.GB
		cpus = 40
	}

	withLabel: philosopher {
		executor = 'slurm'
		container = 'docker://prvst/philosopher:4.0.0'
	}

	withLabel: msfragger {
		executor = 'slurm'
		container = 'docker://singjust/msfragger:3.1.1'
	}

	withLabel: htseq {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq:3.6.5_0.10.0'
	}

	withLabel: segemehl {
		executor = 'slurm'
		container = 'docker://zavolab/segemehl:0.2.0'
	}

	withLabel: cufflinks {
		executor = 'slurm'
		container = 'docker://zavolab/cufflinks:2.2.1'
	}

	withLabel: htseq_biopython {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq_biopython:3.6.5_0.10.0_1.71'
	}

	withLabel: cutadapt {
                executor = 'slurm'
                container = 'docker://zavolab/cutadapt:1.16'
	}

	withLabel: fastx {
                executor = 'slurm'
                container = 'docker://zavolab/fastx:0.0.14'
	}

	withLabel: pysam {
                executor = 'slurm'
                container = 'docker://fgypas/python_pysam:3.6.5_0.15.1'
	}

	withLabel: samtools {
                executor = 'slurm'
		container = 'docker://zavolab/samtools:1.8'
	}

	withLabel: rcrunch_python {
                executor = 'slurm'
		container = 'docker://zavolab/rcrunch_python:1.0'
	}
	
	withLabel: ribotish {
		executor = 'slurm'
		container = 'docker://quay.io/biocontainers/ribotish:0.2.5--pyh864c0ab_1'
	}

	withLabel: star {
		executor = 'slurm'
		container = 'docker://mgibio/star:2.7.0f'
	}

	withLabel: gffread {
		executor = 'slurm'
		executor = 'docker://zavolab/gffread:0.11.7'
	}

}





