singularity {

	enabled = true
	autoMounts = true
	cacheDir = "${HOME}/.singularity/cache/library"
	libraryDir = "${HOME}/.singularity/cache/library"
}


process {
	
	memory = 125.GB
	//cpus = 20
		
	withLabel: heavy_computation {
		memory = 200.GB
		cpus = 40
	}

	withLabel: philosopher {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/philosopher_4.0.0.sif"
	}

	withLabel: msfragger {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/msfragger_3.1.1.sif"
	}

	withLabel: htseq {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_htseq_3.6.5_0.10.0.sif"
	}

	withLabel: segemehl {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/segemehl_0.2.0.sif"
	}

	withLabel: cufflinks {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/cufflinks_2.2.1.sif"
	}

	withLabel: htseq_biopython {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_htseq_biopython_3.6.5_0.10.0_1.71.sif"
	}

	withLabel: cutadapt {
        executor = "slurm"
        container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/cutadapt_1.16.sif"
	}

	withLabel: fastx {
        executor = "slurm"
        container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/fastx_0.0.14.sif"
	}

	withLabel: pysam {
    	executor = "slurm"
        container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/python_pysam_3.6.5_0.15.1.sif"
	}

	withLabel: samtools {
        executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/samtools_1.8.sif"
	}

	withLabel: rcrunch_python {
        executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/rcrunch_python_1.0.sif"
	}
	
	withLabel: ribotish {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/quay.io-biocontainers-ribotish-0.2.5--pyh864c0ab_1.img"
	}

	withLabel: star {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/star_2.7.0f.sif"
	}

	withLabel: gffread {
		executor = "slurm"
		container = "file:///scicore/home/zavolan/pozzan0000/.singularity/cache/library/gffread_0.11.7.sif"
	}

}








