singularity {

	enabled = true
	autoMounts = true

}

process {

	memory = 125.GB
	cpus = 16

	withLabel: philosopher {
		executor = 'slurm'
		container = 'docker://prvst/philosopher:4.0.0'

		//queue = 'gpuq' or 'workq'
		//clusterOptions = ''
	}

	withLabel: msfragger {
		executor = 'slurm'
		container = 'docker://singjust/msfragger:3.1.1'
	}

	withLabel: htseq {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq:3.6.5_0.10.0'
	}

	withLabel: segemehl {
		executor = 'slurm'
		container = 'docker://zavolab/segemehl:0.2.0'
	}

	withLabel: cufflinks {
		executor = 'slurm'
		container = 'docker://zavolab/cufflinks:2.2.1'
	}

	withLabel: htseq_biopython {
		executor = 'slurm'
		container = 'docker://zavolab/python_htseq_biopython:3.6.5_0.10.0_1.71'
	}


}
